.card {
    border: 1px solid gainsboro;
    margin: 50px;
    border-radius: 20px;
}

.add {
    background-color: blue;
    color: white;
}

.add:hover {
    background-color: gainsboro;
    color: black;
}